<table>
    <tr>
        <td>
            <img src=":/res/USBReverseHelper.png" alt="" width="128" height="128" />
        </td>
        <td>
            <h1>USB Reverse Helper</h1>
            <p>Project URL: <a href="https://gitlab.com/mguimard/USBReverseHelper">https://gitlab.com/mguimard/USBReverseHelper</a></p>
        </td>
    </tr>
</table>

